<template>
  <div
    class="
      d-flex
      justify-content-between
      flex-wrap flex-md-nowrap
      align-items-center
      py-4">
    <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Todos los usuarios</h2>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a
        href="#"
        class="btn btn-sm btn-gray-800 d-inline-flex align-items-center"
        data-bs-toggle="modal"
        data-target=".bd-example-modal-lg"
        @click="agregarUser()">
        <svg
          class="icon icon-xs me-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          ></path>
        </svg>
        Nuevo Usuarios
      </a>
      <div class="btn-group ms-2 ms-lg-3">
        <button type="button" class="btn btn-sm btn-outline-gray-600">
          Exportar
        </button>
      </div>
    </div>
  </div>
  <div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
      <div class="col col-md-6 col-lg-3 col-xl-4">
        <div class="input-group me-2 me-lg-3 fmxw-400">
          <span class="input-group-text">
            <svg
              class="icon icon-xs"
              x-description="Heroicon name: solid/search"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100
                  8 4 4 0 000-8zM2 8a6 6 0 1110.89
                  3.476l4.817 4.817a1 1 0 01-1.414
                  1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Buscar Usuarios"/>
        </div>
      </div>
      <div class="col-4 col-md-2 col-xl-1 ps-md-0 text-end">
        <div class="dropdown">
          <button
            class="
              btn btn-link
              text-dark
              dropdown-toggle dropdown-toggle-split
              m-0
              p-1
            "
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <svg
              class="icon icon-sm"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M11.49
                                        3.17c-.38-1.56-2.6-1.56-2.98 0a1.532
                                        1.532 0
                                        01-2.286.948c-1.372-.836-2.942.734-2.106
                                        2.106.54.886.061 2.042-.947
                                        2.287-1.561.379-1.561 2.6 0 2.978a1.532
                                        1.532 0 01.947 2.287c-.836 1.372.734
                                        2.942 2.106 2.106a1.532 1.532 0
                                        012.287.947c.379 1.561 2.6 1.561 2.978
                                        0a1.533 1.533 0 012.287-.947c1.372.836
                                        2.942-.734 2.106-2.106a1.533 1.533 0
                                        01.947-2.287c1.561-.379 1.561-2.6
                                        0-2.978a1.532 1.532 0
                                        01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532
                                        1.532 0 01-2.287-.947zM10 13a3 3 0 100-6
                                        3 3 0 000 6z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
            <span class="small ps-3 fw-bold text-dark">Show</span>
            <a class="dropdown-item d-flex align-items-center fw-bold" href="#"
              >10
              <svg
                class="icon icon-xxs ms-auto"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707
                                            5.293a1 1 0 010 1.414l-8 8a1 1 0
                                            01-1.414 0l-4-4a1 1 0
                                            011.414-1.414L8 12.586l7.293-7.293a1
                                            1 0 011.414 0z"
                  clip-rule="evenodd"
                ></path></svg
            ></a>
            <a class="dropdown-item fw-bold" href="#">20</a>
            <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <div
      v-if="data == null"
      class="position-absolute top-50 start-50 translate-middle">
      <div class="text-center">
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <table v-else class="table table-hover">
      <thead>
        <tr>
          <th class="border-gray-200">#</th>
          <th class="border-gray-200">ACCIONES</th>
          <th class="border-gray-200">ESTADO</th>
          <th class="border-gray-200">CATEGORIA</th>
          <th class="border-gray-200">USUARIO-PROPIETARIO</th>
          <th class="border-gray-200">DNI</th>
          <th class="border-gray-200">ULTIMO PAGO</th>
          <th class="border-gray-200">DIRECCION</th>
        </tr>
      </thead>
      <tbody>
        <!-- Item -->
        <tr v-for="(con, index) of data" :key="index">
          <td>
            <a href="#" class="fw-bold"> {{ index + 1 }} </a>
          </td>
          <td>
          <div id="acciones" class="btn-group" role="group">
            <button
              class="btn btn-secondary"
              title="Editar"
              @click="editUsuario(con)">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button
              class="btn btn-danger"
              title="Eliminar"
              @click="showModalPagos()">
              <i class="bi bi-cash-coin"></i>
            </button>
          </div>
          </td>
          <td>
            <a href="#" class="fw-bold"> {{ con.estado }} </a>
          </td>
          <td>
            <a href="#" class="fw-bold"> {{ con.categoria }} </a>
          </td>
          <td>
            <a href="#" class="fw-bold"> {{ con.usuario_propietario }} </a>
          </td>
          <td>
            <a href="#" class="fw-bold"> {{ con.dni }} </a>
          </td>
          <td>
            <a href="#" class="fw-bold"> {{ con.ultimo_pago }} </a>
          </td>
          <td>
            <a href="#" class="fw-bold"> {{ con.direccion }} </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="
        card-footer
        px-3
        border-0
        d-flex
        flex-column flex-lg-row
        align-items-center
        justify-content-between">
      <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <div class="fw-normal small mt-4 mt-lg-0">
        Viendo <b>10</b> de <b>10</b> Ordenes
      </div>
    </div>
  </div>

  <!-- Modal pagar agua-->
  <div class="m-4 ">
    <div id="modalPagosAgua" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Large Modal</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <form action="">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Nombre"
                    name="name"
                  />
                  <br />
                </form>

            <div class="modal-body modal-pagos">
              <div
                class="container-fluid px-0 px-sm-3 mx-auto"
                style="margin-top:-100px; margin-bottom:-80px"
              >
                <div class="row justify-content-center mx-0 ">
                  <div class="col-lg-12 ">
                    <div class="card border-0">
                      <form autocomplete="off">
                        <div class="card-header bg-dark">
                          <div
                            class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-11"
                          >
                            <select>
                              <option value="opcion-1">2019</option>
                              <option value="opcion-2">2020</option>
                              <option value="opcion-x">2021</option>
                              <option value="opcion-x">2022</option>
                              <option value="opcion-x">2023</option>
                            </select>
                          </div>
                        </div>
                        <div class="card-body p-4 p-sm-2">
                          <div class="row text-center mx-0">
                            <div class="col-md-3 col- my-1 px-2">
                              <div class="cell py-1">Enero</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Febrero</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Marzo</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Abril</div>
                            </div>
                          </div>
                          <div class="row text-center mx-0">
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Mayo</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Junio</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Julio</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Agosto</div>
                            </div>
                          </div>
                          <div class="row text-center mx-0">
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Septiembre</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Octubre</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Nobiembre</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                              <div class="cell py-1">Diciembre</div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin modal pagos -->
  <div
    class="modal fade"
    id="ModalUser"
    tabindex="-1"
    aria-labelledby="ModalUser"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-teal-300">
          <h5 class="modal-title">Agregar Usuario</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col">
                <label>DNI</label>
                <input
                  type="number"
                  style="border:1px solid"
                  v-model="usuarios.dni"
                  class="form-control"
                  placeholder="DNI"
                  maxlength="7"/>
              </div>
              <div class="col">
                <label>Categoria</label>
                 <select
                  id="inputState"
                   v-model="usuarios.categoria"
                  class="form-control"
                  style="border:0.5px solid; height:38px" >
                  <option v-for="categoria in categorias" :value="categoria.value" :key="categoria">{{categoria.text}}</option> 
                </select>
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col">
                <label>Nombres</label>
                <input type="text" 
                     v-model="usuarios.usuario_propietario"
                     name="name" 
                     style="border:1px solid;text-transform:uppercase" 
                     class="form-control" 
                     placeholder="Nombres" />
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col">
                <label>Dirección</label>
                <input
                  type="text"
                  style="border:1px solid;text-transform:uppercase"
                  v-model="usuarios.direccion"
                  class="form-control"
                  placeholder="Direccion"/>
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col">
                <label>Otra informacion de interes</label>
                <textarea   v-model="usuarios.alquilan_servicio" name="textarea" rows="2" cols="50">...</textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal">
            Cancelar
          </button>
          <button
            v-if="accion == ''"
            type="button"
            class="btn  btn-info"
            @click="addUsuario()">
            Guardar
          </button>
          <button
            v-else
            type="button"
            class="btn  btn-info"
            @click="updateUsuario()">
            Editar
          </button>
        </div>
        
      </div>
    </div>
  </div>
</template>
<style scoped>
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
#add-btn {
  margin-bottom: 14px;
}

select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
}
.modal-pagos {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #c5cae9 !important;
  background-repeat: no-repeat;
  padding: 0px !important;
}

.container-fluid {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.card {
  box-shadow: 0px 4px 8px 0px #7986cb;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

thead tr:nth-child(3) th {
  color: #fff !important;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.dow,
.old-day,
.day,
.new-day {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0px !important;
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
  border-radius: 6px !important;
  background-color: #eee;
  color: #000;
}

.active {
  border-radius: 6px !important;
  background-image: linear-gradient(#90caf9, #64b5f6) !important;
  color: #000 !important;
}

.disabled {
  color: #616161 !important;
}

.prev,
.next,
.datepicker-switch {
  border-radius: 0 !important;
  padding: 20px 10px !important;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff !important;
  opacity: 0.8;
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
  background-color: inherit !important;
  opacity: 1;
}

.cell {
  border: 1px solid #bdbdbd;
  margin: 2px;
  cursor: pointer;
}

.cell:hover {
  border: 1px solid #3d5afe;
}

.cell.select {
  background-color: #3d5afe;
  color: #fff;
}

.fa-calendar {
  color: #fff;
  font-size: 30px;
  padding-top: 8px;
  padding-left: 5px;
  cursor: pointer;
}
</style>
<script>
import usuarioAguaService from "../service/usuariosAguaService";
import { Modal } from "bootstrap";
export default {
  name: "Orders",
  data() {
    return {
       name: '',
      data: [],
      modal: "",
      modalAgua:"",
      message: null,
      typeMessage: null,
      accion:"",
      categorias: [
        { text: 'DOMESTICOS', value: 'DOMESTICOS' },
        { text: 'ESTATAL', value: 'ESTATAL' },
        { text: 'COMERCIAL', value: 'ESTATAL' }
      ],
      usuarios: {
        id: null,
        n_i_f: null,
        categoria: null,
        usuario_propietario: null,
        dni: null,
        direccion: null,
        estado: null,
        ultimo_pago: null,
        alquilan_servicio: '',
      },
    };
  },
  created() {
    this.getUsers();
  },
  mounted() {
       this.modal = new Modal(document.getElementById("ModalUser"));
        this.modalAgua = new Modal(document.getElementById("modalPagosAgua"));
  },
  methods: {
    clear(){
     this.usuarios= {
        id: null,
        n_i_f: null,
        categoria: null,
        usuario_propietario: null,
        dni: null,
        direccion: null,
        estado: null,
        ultimo_pago: null,
        alquilan_servicio: '',
     }
    },
    openModalAgua(){
      this.modalAgua.show();
    },
    closeModalAgua(){
      this.modalAgua.hide();
    },
    openModal() { 
      this.modal.show();
    },
    closeModal() {
      this.modal.hide();
    },
    showModalPagos(){
      this.openModalAgua();
    },
    editUsuario(usr){
        this.usuarios=usr;
        this.accion="edit"
        this.openModal()
    },
    agregarUser(){
      this.accion="";
      this.clear();
      this.openModal();
    },
    async getUsers() {
      try {
        let users = await usuarioAguaService.getUsuariosAgua();
        this.data = users.data.lista;
      } catch (error) {
        this.data = [];
        console.log("error en", error);
      }
    },
    async addUsuario(){
      try {
        let resp =await usuarioAguaService.create(this.usuarios)
          if(resp.data.status==1){
            await  this.getUsers();
            this.viewNotification(resp.data.msg,"info")
            this.closeModal();
            return;
          }
         this.viewNotification(resp.data.msg,"error")
      } catch (error) {
         this.closeModal();
         this.viewNotification("Usuario no agregado","error")
         console.log('Error', error)
      }
    },
   async updateUsuario(){
      try {
        let resp =await usuarioAguaService.update(this.usuarios)
          if(resp.data.status==1){
            await  this.getUsers();
            this.viewNotification(resp.data.msg,"info")
            this.closeModal();
            return;
          }
         this.viewNotification(resp.data.msg,"error")
      } catch (error) {
         this.closeModal();
         this.viewNotification("Usuario no agregado","error")
         console.log('Error', error)
      }
    },
    viewNotification(msg,txtType){
        this.message = msg;
        this.typeMessage = txtType;
        this.noty(this.message, this.typeMessage);
    },
    noty(message, typeMessage) {
      const notyf = new window.noty({
        position: {
          x: "rigth",
          y: "top",
        },
        types: [
          {
            type: "info",
            background: "#06AB17",
            icon: {
              className: "fas fa-check-double",
              tagName: "span",
              color: "#fff",
            },
            dismissible: false,
          },
        ],
      });
      notyf.open({
        type: typeMessage,
        message: message,
      });
    },

  },
};
</script>
